<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>schedule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31F24A181BD1EB9C00CE1A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31F24A311BD1EB9D00CE1A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31F24A3C1BD1EB9D00CE1A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
